@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: radial-gradient(circle farthest-corner at 100px 50px, #ffffff, #0062ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
display: flex;
width: 100%;
padding: 0 20px;
color: rgb(1, 141, 221);
}
.slide{
  height: 80vh;
  border-radius: 20px;
  flex: 1;
  margin: 10px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition:all 500ms ease-in-out;
}
.slide h3{
  position: absolute;
  font-size: 24px;
  bottom: 28px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.active{
  flex: 10;
}
.active h3{
  opacity: 1;
  transition: opacity 0.3 ease-in 0.4s;
}
.border{
  border: 1px;
}